@use 'sass:map';

$magnum: (
	50: 255 249 237,
	100: 254 242 214,
	200: 252 224 172,
	300: 249 201 120,
	400: 247 177 85,
	500: 243 141 28,
	600: 228 115 18,
	700: 189 87 17,
	800: 150 69 22,
	900: 121 58 21,
	950: 65 28 9,
);

$neutral: (
	50: 250 250 250,
	100: 245 245 245,
	200: 229 229 229,
	300: 212 212 212,
	400: 163 163 163,
	500: 115 115 115,
	600: 82 82 82,
	700: 64 64 64,
	800: 38 38 38,
	900: 23 23 23,
	950: 10 10 10,
);

$zinc: (
	50: 250 250 250,
	100: 244 244 245,
	200: 228 228 231,
	300: 212 212 216,
	400: 161 161 170,
	500: 113 113 122,
	600: 82 82 91,
	700: 63 63 70,
	800: 39 39 42,
	900: 24 24 27,
	950: 9 9 11,
);

$shade-reversal: (
	50: 950,
	100: 900,
	200: 800,
	300: 700,
	400: 600,
	500: 500,
	600: 400,
	700: 300,
	800: 200,
	900: 100,
	950: 50,
);

$breakpoints: (
	sm: 40rem,
	md: 48rem,
	lg: 64rem,
	xl: 80rem,
	2xl: 96rem,
);

$radii: (
	sm: 0.125rem,
	base: 0.25rem,
	md: 0.375rem,
	lg: 0.5rem,
	xl: 0.75rem,
	2xl: 1rem,
	full: 9999px,
);

$shadows: (
	sm: 0 1px 2px 0 rgb(0 0 0 / 0.05),
	base: (0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1)),
	md: (0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1)),
	lg: (0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1)),
);

$font-sans: 'Inter', -apple-system, blinkmacsystemfont, 'Segoe UI', roboto, oxygen, ubuntu,
	cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', arial, sans-serif, 'Apple Color Emoji',
	'Segoe UI Emoji', 'Segoe UI Symbol';
$font-display: 'GT Maru', 'Segoe UI', roboto, oxygen, ubuntu, cantarell, 'Fira Sans', 'Droid Sans',
	'Helvetica Neue', arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
$font-mono: 'GT Maru Mono', ui-monospace, sfmono-regular, 'SF Mono', menlo, consolas,
	'Liberation Mono', monospace;

@function color($family, $shade: null, $alpha: 1) {
	$name: $family;
	@if $shade != null {
		$name: '#{$family}-#{$shade}';
	}

	@return rgb(var(--color-#{$name}) / #{$alpha});
}

@function breakpoint($name) {
	@return map.get($breakpoints, $name);
}

@function radius($name) {
	@return map.get($radii, $name);
}

@function shadow($name) {
	@return map.get($shadows, $name);
}
